In [26]:
import numpy as np 
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [27]:
data =  pd.read_csv('sonar data.csv',header=None)
data.head(4)

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
0,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
1,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,R
2,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,R
3,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,R

In [28]:
data.shape

(208, 61)

In [29]:
data.ndim

2

In [30]:
data.columns

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
            51, 52, 53, 54, 55, 56, 57, 58, 59, 60],
           dtype='int64')

In [31]:
data.isnull().sum()

0     0
1     0
2     0
3     0
4     0
     ..
56    0
57    0
58    0
59    0
60    0
Length: 61, dtype: int64

In [32]:
data.describe()

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
count,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,...,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000
mean,0.029164,0.038437,0.043832,0.053892,0.075202,0.104570,0.121747,0.134799,0.178003,0.208259,...,0.016069,0.013420,0.010709,0.010941,0.009290,0.008222,0.007820,0.007949,0.007941,0.006507
std,0.022991,0.032960,0.038428,0.046528,0.055552,0.059105,0.061788,0.085152,0.118387,0.134416,...,0.012008,0.009634,0.007060,0.007301,0.007088,0.005736,0.005785,0.006470,0.006181,0.005031
min,0.001500,0.000600,0.001500,0.005800,0.006700,0.010200,0.003300,0.005500,0.007500,0.011300,...,0.000000,0.000800,0.000500,0.001000,0.000600,0.000400,0.000300,0.000300,0.000100,0.000600
25%,0.013350,0.016450,0.018950,0.024375,0.038050,0.067025,0.080900,0.080425,0.097025,0.111275,...,0.008425,0.007275,0.005075,0.005375,0.004150,0.004400,0.003700,0.003600,0.003675,0.003100
50%,0.022800,0.030800,0.034300,0.044050,0.062500,0.092150,0.106950,0.112100,0.152250,0.182400,...,0.013900,0.011400,0.009550,0.009300,0.007500,0.006850,0.005950,0.005800,0.006400,0.005300
75%,0.035550,0.047950,0.057950,0.064500,0.100275,0.134125,0.154000,0.169600,0.233425,0.268700,...,0.020825,0.016725,0.014900,0.014500,0.012100,0.010575,0.010425,0.010350,0.010325,0.008525
max,0.137100,0.233900,0.305900,0.426400,0.401000,0.382300,0.372900,0.459000,0.682800,0.710600,...,0.100400,0.070900,0.039000,0.035200,0.044700,0.039400,0.035500,0.044000,0.036400,0.043900

In [33]:
data.groupby(60).mean()

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
60,,,,,,,,,,,,,,,,,,,,,
M,0.034989,0.045544,0.050720,0.064768,0.086715,0.111864,0.128359,0.149832,0.213492,0.251022,...,0.019352,0.016014,0.011643,0.012185,0.009923,0.008914,0.007825,0.009060,0.008695,0.006930
R,0.022498,0.030303,0.035951,0.041447,0.062028,0.096224,0.114180,0.117596,0.137392,0.159325,...,0.012311,0.010453,0.009640,0.009518,0.008567,0.007430,0.007814,0.006677,0.007078,0.006024

# Spilt the data

In [34]:
data.head(1)

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
0,0.02,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.018,0.0084,0.009,0.0032,R

In [35]:
x = data.drop(columns=60,axis=1)
y = data[60]

print(x.shape)
print(y.shape)

(208, 60)
(208,)

# training the dataset using train test split

In [36]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test = train_test_split(x,y,test_size=0.3,random_state=4)

print(X_train.shape)
print(Y_train.shape)
print(X_test.shape)
print(Y_test.shape)

(145, 60)
(145,)
(63, 60)
(63,)

# Feature Scalling

In [37]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler().fit(X_train)

X_train = sc.transform(X_train)
X_test =sc.transform(X_test)

# predicting using Algorithm

In [39]:

model  = LogisticRegression()

In [40]:
model.fit(X_train,Y_train)

LogisticRegression()

#  Model Evaluation/ Accuracy Score

In [42]:
from sklearn.metrics import accuracy_score

# Training Data accuracy

In [44]:
X_train_prediction = model.predict(X_train)

training_data_accuracy = accuracy_score(X_train_prediction,Y_train)

In [45]:
print(training_data_accuracy)

0.9448275862068966

# testing data accuracy

In [47]:
X_test_prediction = model.predict(X_test)

testing_data_accuracy = accuracy_score(X_test_prediction,Y_test)

In [48]:
print(testing_data_accuracy)

0.7619047619047619

# Managing Prediction system

In [51]:
input_data=(0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,0.1609,0.1582,0.2238,0.0645,0.0660,0.2273,0.3100,0.2999,0.5078,0.4797,0.5783,0.5071,0.4328,0.5550,0.6711,0.6415,0.7104,0.8080,0.6791,0.3857,0.1307,0.2604,0.5121,0.7547,0.8537,0.8507,0.6692,0.6097,0.4943,0.2744,0.0510,0.2834,0.2825,0.4256,0.2641,0.1386,0.1051,0.1343,0.0383,0.0324,0.0232,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032)

input_np =np.asarray(input_data) 

reshape = input_np.reshape(1,-1)

std = sc.transform(reshape)
print(std)

prediction = model.predict(std)
print(prediction)

if(prediction[0]=='R'):
    print("This is a ROCK")
else:
    print("IT is a MINE")

[[-0.36495022 -0.0733944   0.03053391 -0.6204654   0.44970244 -0.00272884
   0.59788975  0.37372164  1.21684125  0.09687946 -0.48970914 -0.56568417
  -0.19616243 -1.32889665 -1.21581348 -0.60046268 -0.3298304  -0.49911795
   0.11460306 -0.22179887 -0.05158091 -0.40847422 -0.8375906  -0.48053472
   0.0131362  -0.20558812  0.04936511  0.45457365  0.10502914 -0.97199581
  -1.79875822 -0.87169324  0.44191347  1.43024801  1.66703825  1.64880451
   1.17170965  1.13226531  0.73851015 -0.23372112 -1.39878843  0.00746572
   0.24884174  1.62138855  0.40535654 -0.20976857 -0.21387702  0.69356785
  -0.4095593   0.91443551  0.56234982 -1.03157472 -0.60278082  0.73615774
  -0.27282746  2.01784637  2.13043413  0.10849782  0.2063553  -0.62297807]]
['R']
This is a ROCK